<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Juego</h1>
    <% if (user) { %>
        <div id="<%= user._id %>" class="alert alert-danger" role="alert">
            <%= user.name %>
        </div>
    <% } %>
    <input type="text" name="" id="texto" placeholder="Mensaje">
    <ul id="connectedUsers"></ul>
    <button id="btnEnviar">Enviar</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/juego.js"></script>
</body>
</html>